<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="board">
	<select id="boardCountList" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			board
		
	</select>
	<select id="boardList" parameterType="Map"
			resultType="com.team4.bigTower.board.service.Board">
		SELECT
			b_no as bNo,
			b_title as bTitle,
			m_id as mId,
			b_date as bDate
		FROM
			board
		ORDER BY b_date DESC
		LIMIT #{beginPage},#{perPage}			
	</select>
	<insert id="boardAdd" parameterType="com.team4.bigTower.board.service.Board">
		INSERT INTO board(
			b_title,
			b_content,
			m_id,
			b_pw,
			b_date			
		)VALUES(
			#{bTitle},
			#{bContent},
			#{mId},
			#{bPw},
			#{bDate}			
		)
	</insert>
</mapper>